[Unit]
Description=Swarm Node Shutdown Service
RequiresMountsFor=/mnt/cephfs /mnt/cephfs_nvme
Requires=network-online.target docker.service rclone-mergerfs.service docker.service rclone-mergerfs.service
After=docker.service
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/local/bin/swarm-status-control.sh -m shutdown -a 10.1.20.210 -p 55443 -d
TimeoutStartSec=300
KillMode=process


[Install]
WantedBy=multi-user.target
