[Unit]
Description=Swarm Node Shutdown Service
After=network-online.target docker.service
Requires=network-online.target docker.service
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/usr/local/bin/swarm-status-control.sh -m shutdown -a 10.1.20.210 -p 55443

[Install]
WantedBy=multi-user.target
